APP_NAME=Visions15-API
APP_VERSION=0.1.0

VISIONS15_DATA_ROOT=/mnt/visions15-data

API_KEYS_FILE=/app/storage/secrets/api_keys.json

LABEL_STUDIO_URL=http://label-studio:8080
LABEL_STUDIO_API_KEY=your-label-studio-token
LABEL_STUDIO_AUTH_SCHEME=Token

UPLOAD_DIR=/label-studio/files/uploads
EXTRACTED_DIR=/label-studio/files/extracted
LABEL_STUDIO_LOCAL_FILES_DOCUMENT_ROOT=/label-studio/files

S3_ENDPOINT_URL=minio:9000
S3_ACCESS_KEY=minioadmin
S3_SECRET_KEY=minioadmin
S3_BUCKET=visions15-datasets
S3_SECURE=false
S3_PUBLIC_BASE_URL=http://localhost:9000/visions15-datasets
S3_BUCKET_PUBLIC_READ=true
MODEL_S3_BUCKET=visions15-models
MODEL_S3_PREFIX=model

# MAX_ARCHIVE_SIZE_MB=500 # ONLY IF NEEDED
