APP_NAME=Visions15-API
APP_VERSION=0.1.0

API_KEYS_FILE=/app/storage/secrets/api_keys.json

LABEL_STUDIO_URL=http://label-studio:8080
LABEL_STUDIO_API_KEY=your-label-studio-token
LABEL_STUDIO_AUTH_SCHEME=Bearer

UPLOAD_DIR=/label-studio/files/uploads
EXTRACTED_DIR=/label-studio/files/extracted

# MAX_ARCHIVE_SIZE_MB=500 # ONLY IF NEEDED
